@{
    ViewBag.Title = "Menu";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle" >
        <h1 id="title">Ejercicios</h1>
        <p class="lead">*Usando Code First hacer los modelos para una Farmacia</p>
        <p class="lead">*Agregar Validaciones Data Annotations</p>
        <p class="lead">*Crear CRUD y Relaciones</p>
        <p class="lead">*Cambiar diseño predeterminado de paguina y traducir a español</p>

        <p><a href="https://www.udbvirtual.edu.sv/auladigital/pluginfile.php/1386273/mod_resource/content/1/Desafio01_DSE.pdf" class="btn btn-primary btn-md">Hoja de Examen &raquo;</a></p>
    </section>
    <hr />
    <div class="row">

        <section class="col-md-3 text-center">
            <h2>Clientes</h2>
            @Html.ActionLink("Consultar", "Index", "Clientes", new { area = "" }, new { @class = "btn btn-primary" })
        </section>

        <section class="col-md-3 text-center">
            <h2>Pedidos</h2>
            @Html.ActionLink("Consultar", "Index", "Pedidoes", new { area = "" }, new { @class = "btn btn-primary" })
        </section>

        <section class="col-md-3 text-center">
            <h2>Sucursales</h2>
            @Html.ActionLink("Consultar", "Index", "Sucursals", new { area = "" }, new { @class = "btn btn-primary" })
        </section>

        <section class="col-md-3 text-center">
            <h2>Productos</h2>
            @Html.ActionLink("Consultar", "Index", "Productoes", new { area = "" }, new { @class = "btn btn-primary" })
        </section>
    </div>
</main>